*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--blanco);
    background-image: linear-gradient(45deg, transparent 20%, var(--gris) 25%, transparent 25%), 
    linear-gradient(-45deg, transparent 20%, var(--gris) 25%, transparent 25%), 
    linear-gradient(-45deg, transparent 75%, var(--gris) 80%, transparent 0),
    radial-gradient(var(--gris) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    color: var(--negro);
    font-family: var(--fuente-texto);
}



h2{
    font-size: 1.65rem;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    color: var(--gris);
    text-decoration: none;
}

/* variables */

:root{
    --fuente-texto:'Barlow', sans-serif;


    /* paleta */
    --crema:  #e0afa0;
    --blanco:  #f4f3ee;
    --gris:  #bcb8b1;
    --gris-oscuro: #8a817c ;
    --oscuro: #463f3a ;
    --negro: #25221f;
}


.standart_tittle{
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    border-radius: .2rem;
    text-align: center;
    padding: .5rem .5rem;
    box-shadow: 1px 2px 17px -1px var(--gris);
    font-size: 2.2rem;
}

.standart-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem 0;
}


/* header */

header{
    background: rgb(37,34,31);
    background: linear-gradient(0deg, rgba(37,34,31,1) 0%, rgba(23,18,13,1) 74%);
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    position: relative;
}

header div{
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
}

header div h1{
    color: var(--blanco);
    margin-top: 3rem;
    font-size: 4.5rem;
    text-align: center;
}

header div p{
    color: var(--blanco);
    padding: 1.5rem;
    margin: 0 1rem;
    text-align: center;
    font-size: 1.4rem;
    max-width: 45rem;
}

header figure{
    position: absolute;
    top: 40%;
    right: 0;
}

header figure img{
    filter: sepia(96%) brightness(67%) hue-rotate(316deg) saturate(68%) opacity(13%) contrast(82%);
}

/* container */


main{
    display: grid;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--blanco);
    grid-template-columns: repeat(10,10%);
    border: solid 1px var(--gris);
    border-bottom: 0px;
    border-top: 0px;
    box-shadow: -1px 2px 39px -16px var(--gris);
}

/* galería1 */

.galery-section{
    margin-top: 0;
    grid-area: 1/1/2/11;
}

.galery-section div{
    display: grid;
    margin: .5rem;
    gap: .5rem;
    place-items: center;
}

.galery-section div figure img{
    border-radius: .5rem;
    box-shadow: -1px 2px 22px -15px var(--gris);
}

.galery-section div .galery-section_item1{
    grid-area: 1/1/5/5;
}

/* menu */

.menu-section{
    grid-area: 2/1/3/11;
}

.menu-section .menu-section_container{
    place-self: center;
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}

.menu-section .menu-section_container div{
    position: relative;
    margin: 0 auto;
    background: linear-gradient(300deg, #e5ccba 42%, var(--crema) 100%);
    color: var(--oscuro);
    border-radius: .2rem;
    box-shadow: 1px 2px 17px -1px var(--gris);
    padding: .5rem 1rem;
    overflow: hidden;
    cursor: pointer;
}

.menu-section .menu-section_container div:hover{
    box-shadow: 1px 2px 20px 5px var(--gris);
}

.menu-section .menu-section_container div figure{
    position: absolute;
    width: 15rem;
    top: 0;
    left: 65%;
}

.menu-section .menu-section_container div p{
    font-size: 1.3rem;
    width: 65%;
}

/* catálogo */

.scrollmenu{
    grid-area: 3/1/4/11;
}


.scrollmenu ul{
    display: grid;
    grid-template-columns: repeat(10,19rem);
    overflow: scroll;
    gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.scrollmenu ul li{
    background-color: var(--blanco);
    box-shadow: 0 0 20px -6px var(--gris);
    display: grid;
    grid-template-rows: repeat(3,auto);
    gap: 1rem;
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
}

.scrollmenu ul li:hover{
    border: 1px solid var(--gris);
}

.scrollmenu ul li div p{
    font-size: 1.5rem;
}

.scrollmenu ul li .heart_button{
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.scrollmenu ul li .button{
    background: linear-gradient(149deg, var(--crema) 0, #db8484 86%);
    color: white;
    place-self: center;
    font-size: 1.4rem;
    padding: .6rem 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: .5rem;
    cursor: pointer;
}

.scrollmenu ul li .button:hover{
    background: #db8484;
    box-shadow: 0 0 20px -6px var(--gris);
}


/* footer */

footer{
    grid-area: 5/1/6/13;;
    text-align: center;
    background-color: #25221F;
    padding: 2rem;
    color: var(--blanco);
    font-size: 1.45rem;
}

footer div p{
    margin-bottom: 1rem;
}

footer div span{
    margin: 0 .5rem;
}

