*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--fuente-texto);
    font-size: 1rem;
    color: var(--negro);
}

h1{
    font-family: var(--fuente-texto);
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    color: red;
}

/* variables */

:root{
    --fuente-texto:'Barlow', sans-serif;

    /* paleta */
    --crema:  #e0afa0;
    --blanco:  #f4f3ee;
    --gris:  #bcb8b1;
    --gris-oscuro: #8a817c ;
    --oscuro: #463f3a ;
    --negro: #25221f;
}

/* header */

header{
    background: rgb(37,34,31);
    background: linear-gradient(0deg, rgba(37,34,31,1) 0%, rgba(23,18,13,1) 74%);
    padding: 1rem 1rem 1rem 1rem;
    overflow: hidden;
    position: relative;
}

header div{
    display: grid;
    grid-template-rows: auto auto;
}

header div h1{
    color: var(--blanco);
    margin-top: 3rem;
    font-size: 3rem;
    text-align: center;
}

header div p{
    color: var(--blanco);
    padding-top: 1.5rem;
    margin: 0 1rem;
    text-align: center;
}

header figure{
    position: absolute;
    top: 40%;
    right: 0;
}

header figure img{
    filter: sepia(96%) brightness(67%) hue-rotate(316deg) saturate(68%) opacity(13%) contrast(82%);
    -webkit-filter: sepia(96%) brightness(67%) hue-rotate(316deg) saturate(68%) opacity(23%) contrast(82%);
    -moz-filter: sepia(96%) brightness(67%) hue-rotate(316deg) saturate(68%) opacity(13%) contrast(82%);
}

/* galería 1 */

.galery-section{
    padding: 1rem;
}